<h1>Here's your order <%= @shoe.full_name %></h1>

<h2>Shipping to:</h2>

<%= @shoe.address %><br><br>

<%= @shoe.quantity%> X Size <%= @shoe.size %><br><br>

<h3>Order Total =</h3>
£<%= @shoe.total %> 



